/*Global Styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #7bc6ed 0%, #6e3a7be0 50%,#2712afe0 100%);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login-box {
    background: white;
    padding: 30px 20px;
    border-radius:12px;
    width: 320px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 450px;
}
.login-box h2 {
    margin: 0 0 25px 0;
    color: #333;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
.options {
    display: flex;
    justify-content:flex-start;
    font-size: 13px;
    gap: 5px;
    margin: 10px 0 15px 0;
}
.btn {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background: #6e3a7be0;
}
.social {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.social button {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
}
.footer {
    margin-top: 15px;
    font-size: 12px;
}